<!-- INTERPOLAZIONE PER RICHIAMARE IL VALORE -->
{{title}}

<!-- COLLEGAMENTO PADRE FIGLIO +  -->
<app-figlio [valorePadre]="title"></app-figlio>

<!-- COLLEGAMENTO PADRE FIGLIO +  -->
<app-figlio2 (evento)="prendiEvento($event)"></app-figlio2>

<!-- INTERPOLAZIONE PER RICHIAMARE LA FUNZIONE DEL FIGLIO -->
{{eventoPreso}}

<!-- DIRETTIVE STRUTTURALI -->
<!-- NG STYLE -->
<p [ngStyle]="{color:1<2?'blue':'red'}">ciao</p>

<!-- NG CLASS -->
<div [ngClass]="{classColor:x}">NG CLASS</div>

<!-- BOTTONE CHE AL CLICK AVVIA IL METODO PER CAMBIARE IL BOOLEANO (ngClass) -->
<button (click)="cambiaBoolean()"></button>

<!-- DIRETTIVE STRUTTURALI -->
<!-- NG IF -->
<div *ngIf="1<2">
  <p>ciao</p>
  <p>ciao</p>
</div>

<!-- NG FOR (stampa i nomi dell'array creato in ts)-->
<ul>
  <li *ngFor="let persona of lista">
    {{ persona.nome }}
  </li>
</ul>

<!-- NG SWITCH -->
<div [ngSwitch]="variabile">
  <div *ngSwitchCase="valore1">Il valore è 1</div>
  <div *ngSwitchCase="valore2">Il valore è 2</div>
  <div *ngSwitchDefault>Contenuto predefinito</div>
</div>

<app-form></app-form>

<div>PIPE (uppercase)</div>
{{nome | uppercase}}
{{nome | test}}

<div>
  <p>METODO GET / POST</p>

  <button (click)="get()">GET</button>
  <button (click)="post()">POST</button>

  <div *ngFor="let userKeyVal of persone | keyvalue">
    <li>{{ userKeyVal.key }}: {{ userKeyVal.value | json }}</li>
  </div>

</div>


<div>
  <h3>ROTTE</h3>
  <div>ROUTER LINK</div>
  <button routerLink="/figlio">Figlio</button>
  <button routerLink="/figlio2">Figlio2</button>

  <router-outlet></router-outlet>

  <div>CON METODO</div>
  <button (click)="goToSon()">FiglioConMetodo</button>
  <button (click)="goToSon2()">Figlio2ConMetodo</button>

  <div>VISUALIZZAZIONE CONTEMPORANEA DI PIU’ COMPONENTI</div>
  <button [routerLink]="[{outlets: { uscita1: ['figlio']}}]">Figlio</button>
  <button [routerLink]="[{outlets: { uscita2: ['figlio2']}}]">Figlio2</button>

  <router-outlet name="uscita1"></router-outlet>
  <router-outlet name="uscita2"></router-outlet>

</div>


